[2020-05-13 13:48] reesericci opened #1 "Port to firefox?"
I love this startpage, but I use Firefox as my browser and many others do too. Is it possible to port this startpage to Firefox?

[2020-05-13 15:47] iisGmoney opened #2 "Change Info On Page?"
How Do I Change The Info On The New Tab

[2020-05-13 16:29] deepjyoti30 commented on #1
Hey there, I added instructions on how to install it on Firefox.

I'm thinking of pushing it to the add on stores soon

[2020-05-13 17:09] deepjyoti30 commented on #2
Do you mean the message gretting the user??

It changes based on time automatically.

[2020-05-13 17:26] iisGmoney commented on #2
I want to know how to change the username and websites, I changed the username and links, and the names of one of the categories and it dissapeared.
![config](https://user-images.githubusercontent.com/59393872/81844618-f7f2f200-9514-11ea-8368-75f69af2bccc.png)
![new_tab](https://user-images.githubusercontent.com/59393872/81844638-ff1a0000-9514-11ea-9c29-ef5de544c2be.png)

[2020-05-13 17:55] iisGmoney commented on #2
It also bricks the google search bar.

[2020-05-14 05:18] haideralipunjabi commented on #2
You should have pasted the code as text. The image makes it difficult to debug.

I think you should try removing the commas `,` at the end of line 12 & line 26.

[2020-05-14 05:32] deepjyoti30 commented on #2
@iisGmoney Can you also check if there are errors thrown by JS?

Just open developer tools using ```Ctrl+Shift+i``` and check the console.

[2020-05-14 14:11] iisGmoney commented on #2
Yup, index.html:1 Uncaught (in promise) SyntaxError: Unexpected token ] in JSON index.html : 1 at position 538.

[2020-05-14 14:34] deepjyoti30 commented on #2
Make the changes as suggested by @haideralipunjabi , the issue is because of those extra commas.

[2020-05-14 22:18] iisGmoney commented on #2
Thanks

[2020-05-14 22:18] #2 closed

[2020-05-15 13:39] #1 closed

[2020-05-15 13:57] reesericci opened #7 "Weather?"
Would it be possible to use something like the Dark Sky API to grab weather information and display it on the startpage like this (with correct font/font size)?

![Weather UI](https://user-images.githubusercontent.com/19589006/82058214-0d3d5d00-968a-11ea-8014-7556879cd349.png)

[2020-05-15 14:28] deepjyoti30 commented on #7
Hey @reesericci , I can work on adding weather but i think using Dark Sky's API won't be the way to go since their API will probably become private in a few monts, I'll check other API's and add the feature soon.

[2020-05-15 15:56] reesericci commented on #7
I'm just using dark sky as an example but you could use any weather provider. Thanks for considering my idea!

[2020-05-15 17:23] deepjyoti30 commented on #7
@reesericci Added weather in 501cb6d

Test it, report here if you find any bug.

[2020-05-15 17:42] reesericci commented on #7
Liking it! (Had to do some git rebasing to install it though - no problems) Although, I'd like it if the weather was rounded instead of having numbers like 81.97 degrees and would rather it say 82 degrees or whatever. Otherwise, no complaints!

[2020-05-15 17:43] deepjyoti30 commented on #7
@reesericci I think it makes sense to round the weather, I thought showing it to 2 values would be good.

[2020-05-15 17:45] reesericci commented on #7
@deepjyoti30 I think it looks cleaner without the decimals but either way is perfectly fine! (I'm currently packaging and signing the startpage so I don't have to keep re-installing it in firefox!)

[2020-05-15 17:49] deepjyoti30 commented on #7
@reesericci I already pushed a change to make it integer.

About Firefox, I know that we need to sign them individually and only then install. I thought I would sign one and share a release but the thing is the config cannot be edited so that would mean the user would be stuck with the default config which I don't want.

It's way simpler for Chrome though.

[2020-05-15 17:53] reesericci commented on #7
Thanks for the weather!
Also, here's an idea: popup a json editor when you hit a hotkey instead of making a gui, so you can package for firefox/chrome. (I really don't know how hard that would be though)

[2020-05-15 18:03] deepjyoti30 commented on #7
@reesericci I've been thinking the same thing, that rather than adding a GUI which will indirectly edit the json, I can just let the users directly edit the json from a popup editor, let's see.

[2020-05-15 18:04] reesericci commented on #7
You should add a variable to enable/disable weather like 24hr time,etc

[2020-05-15 18:12] reesericci commented on #7
All weather functionality has been added, closing issue.

[2020-05-15 18:12] #7 closed

[2020-05-15 18:20] oberprah opened #8 "Keyboard navigation"
I really like this project, it looks great.

But for me it is a bit annoying to use the mouse to select one of the links. It would be very cool to select them with a shortcut or by using a text field with autocompletion.

[2020-05-15 19:30] reesericci commented on #8
I like this idea possibly. Leaning more towards the autocomplete side of things though. Could you implement this possibly @deepjyoti30 ?

[2020-05-15 19:32] reesericci opened #9 "Wiki page for Firefox building & signing"
Could you enable the wiki so I could submit a page for building and signing the extension for Firefox so the extension is not loaded temporarily?

[2020-05-16 06:54] deepjyoti30 commented on #9
Hey @reesericci I enabled the Wiki yesterday itself. Anyway, I added a settings menu on the extension and I'm thinking of pushing it to the respective add on stores.

If you want, try it out and raise an issue if you find any bugs.

[2020-05-16 11:39] reesericci commented on #9
I just finished writing up the wiki page but GH doesn't support pull requests on wiki pages so here's the page for you to create:

## Firefox Building & Signing

To make the startpage extension permanent and not have to re-add the extension every time you restart Firefox, you must build the extension/your config and get it signed by Mozilla.

### Building the extension

Install node.js/npm from [n

[2020-05-16 12:03] reesericci commented on #9
Also, settings menu works great although the UI color scheme could be improved if possible, as well as making it --settings instead of --setting. Otherwise, works great!

[2020-05-16 14:34] deepjyoti30 commented on #9
@reesericci Can you directly gimme the markdown for the wiki page. It'd be easier for me to just copy paste.

[2020-05-16 14:35] reesericci commented on #9
`## Firefox Building & Signing

To make the startpage extension permanent and not have to re-add the extension every time you restart Firefox, you must build the extension/your config and get it signed by Mozilla.

### Building the extension

Install node.js/npm from [nodejs.org](https://nodejs.org) so we can install the web-ext tools.

To install the web-ext tools so we can build the extension, r

[2020-05-16 14:35] reesericci commented on #9
[code]
npm install -g web-extension
[code]
web-ext builds
[code]

[2020-05-16 14:37] reesericci commented on #9
Here you go: https://hastebin.com/raw/wekunaxecu

[2020-05-16 14:43] deepjyoti30 commented on #9
@reesericci Thank's for that.

I updated the Wiki and the Readme and also added at the end of the Wiki that it was written by you. Thanks again.

[2020-05-16 14:44] reesericci commented on #9
No problem. Closing Issue

[2020-05-16 14:44] #9 closed

[2020-05-16 15:06] reesericci opened #12 "Change colors of titles from JSON config"
Currently I have to go into the CSS to change the title colors if I have custom titles or want the color changed of a default. I think it would be a nice addition if it was possible to change the color of the titles from the JSON config but also have an auto option.
Something like this:
Auto:
[code]
Custom:
[code]

[2020-05-16 15:08] deepjyoti30 commented on #12
Yes, I think that's one of the things I will add in the next release along with #8

[2020-05-16 15:08] reesericci commented on #12
Cool!

[2020-05-16 15:37] reesericci commented on #12
jQuery has a css modifier: https://api.jquery.com/css/

[2020-05-16 15:38] Neules opened #13 "Localization"
Since you have to sign the extension to modify js, it would be nice to have a way (possibly the same as per `--setting`) to edit and translate the strings, as it doesn't have so much strings to translate to be an annoying task.

I mean the month's array and the message's.

Cheers.

[2020-05-17 18:46] Neules opened #15 "All values are reseted to defaults on power off"
All values are reseted to defaults on power off. What am I doing wrong? Do I need to sign that tedious firefox thing to use it with my links and preferences?

[2020-05-18 10:14] KraXen72 opened #16 "cool"

[2020-05-18 10:14] #16 closed

[2020-05-18 14:27] deepjyoti30 commented on #13
Hey @Neules that's sounds like a good feature. I can add an option to select the preferred language and accordingly show the  string. I will look into that.

[2020-05-18 14:28] deepjyoti30 commented on #15
@Neules You won't have to sign it yourself.

I have used it on Firefox myself but hadn't faced that. Let's see if @reesericci has faced it also. He can confirm it I guess.

[2020-05-19 16:00] reesericci commented on #15
@Neules Are you running it in temporary mode or getting it from AMO (addons.mozilla.org)?

[2020-05-19 16:00] reesericci commented on #13
+1

[2020-05-19 16:21] Neules commented on #15
You got the point. I first tried when the project didn't had a AMO page, so you had to do  `about:debugging` on navbar and so on. But without that uninstalled, I installed then the extension by clicking on your AMO, so I guess it got cached or something and it get bugged.
I deleted the old startpage folder and it's solved now.

[2020-05-19 16:21] #15 closed

[2020-05-19 16:27] reesericci commented on #15
Yeah, you have to sign the extension manually if you didn't get from AMO

[2020-05-19 16:29] reesericci commented on #15
When you install from about:debugging it only gets installed temporarily. You have to get it signed then  you can install it as a standard extension and it is no longer temporary.

[2020-05-19 16:29] reesericci commented on #15
When you restart firefox the extension goes away

[2020-05-19 22:25] ghost opened #18 "Can you add an option to change the time zone?"
You should modify the function 'updateTime ()' and add a new variable in the json.

[code]

[2020-05-20 06:02] deepjyoti30 commented on #18
@Walkator I'll take that into consideration. I'm also currently thinking of adding an option to set the preferred language so this will surely go along with that.

[2020-05-20 06:03] deepjyoti30 commented on #15
Thanks @reesericci for fixing his issue. I thought the issue was existent even with the AMO release. Anyway, Thanks!

[2020-05-20 09:59] Walkator commented on #18
Ok, this would be great.

[2020-05-20 10:17] deepjyoti30 commented on #8
@oberprah You can always use the tab to select the URL's, did you try that.

The first tab will get you on the search bar and after that you will be able to browse through the URL's with each tab. Finally entering will open that URL.

[2020-05-20 11:10] oberprah commented on #8
@deepjyoti30 yes, that could be a workaround, but not exactly what I need. If I have 20 URLs, then I have to click on tab 20 times.

[2020-05-20 12:10] NicTanghe opened #19 "Firefox only works on new tab."
Hello so this only works on new tab.
When i open Firefox it's still the same old white background.

[2020-05-20 12:19] NicTanghe opened #20 "Firefox --setting just searches for settings."
Firefox --setting just searches for settings.

So i can't change the settings and being greeted as someone i'm not is quite annoying.

Maybe just ad a config in the extension settings menu like vim vixen.

[2020-05-20 13:41] deepjyoti30 commented on #20
@NicTanghe I just tried it right now and it did open the settings.

Are you sure you are using the latest release?? Get the latest one from AMO and install it, then check.

[2020-05-20 13:42] deepjyoti30 commented on #19
@NicTanghe Yes. Firefox has this weird thing that if you open the browser then a new tab is not opened and so the extension is not used either. I did try to check if there's a workaround but didn't find any.

[2020-05-24 21:54] reesericci commented on #20
Works fine for me. Make sure you're typing in the search bar on the startpage and not the omnibar up at the top.

[2020-05-26 18:59] iisGmoney opened #22 "Settings Page"
This is less of an issue and more of a suggestion, it would be nice to add a settings page, so that you can have settings accessible in a way where anyone who doesn’t know how to edit the .json file can mess with the settings without breaking it

[2020-05-29 11:11] deepjyoti30 commented on #22
@iisGmoney Thanks for the suggestion, this is what I had in mind from the beginning but then I did updated the README for a while suggesting it's a headache building a GUI setting page, especially for those squares.

For a while I thought I will not add any settings page at all but then I thought adding a json editor would be a nice hack since without a settings page I can't push the extension to

[2020-05-31 17:43] reesericci commented on #22
I think a JSON editor is fine and all the options are well-documented, as well as allowing @deepjyoti30 to work on new and improved features.

[2020-05-31 17:58] reesericci commented on #19
I found a workaround! I'll write up a wiki page for it but here are the steps:
1. Go to this url in firefox: [about:debugging#/runtime/this-firefox](about:debugging#/runtime/this-firefox)
2. find the extension and copy the manifest url
3. Go into the preferences and set the homepage as the manifest url but replace the end of the url with `index.html` instead of `manifest.json`
4. You finished! Now

[2020-05-31 18:05] NicTanghe commented on #19
i`d test if i didn't already just switch to a dracula theme.

[2020-05-31 18:06] reesericci commented on #19
Why does that matter?

[2020-05-31 18:08] NicTanghe commented on #19
Because my whole desktop ect is now dracula themed.
If i could edit the config in the right cick menu to change the color sheme id test it :D

PLz update description tho. (possibly integrate in addon.)

[2020-05-31 18:09] reesericci commented on #19
If you manually build & sign the extension you can edit the CSS. That's what I did.

[2020-05-31 18:20] reesericci commented on #18
Yeah this ties in with issue #13

[2020-05-31 18:24] reesericci commented on #8
Something like duckduckgo bangs to quickly open urls with a custom prefix and custom "tag" for each url. Like YouTube could have the tag "yt" and i would type into the searchbar "--yt" and it would take me to YouTube.

[2020-05-31 23:37] reesericci commented on #20
@NicTanghe is this still an issue? Please close if finished

[2020-06-01 05:58] deepjyoti30 commented on #19
@NicTanghe I'll add theming options in the next release, a lot of requests for those.! @reesericci Thanks for the solution!

[2020-06-01 23:48] reesericci commented on #19
The theming goes along with issue #12

[2020-06-05 15:08] deepjyoti30 commented on #12
@reesericci I've pushed the changes, try them if you want to and report back in case you face any issues.

[2020-06-05 15:59] iisGmoney opened #23 "Not a prob with the extention, just a prob with the Wiki"
When I try installing the npm thing that I need to download I get this error.

npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/web-extension - Not found
npm ERR! 404
npm ERR! 404  'web-extension@latest' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404
npm ERR! 404 Note that you can also install from

[2020-06-05 16:08] deepjyoti30 commented on #23
@iisGmoney Sorry about that, turns out it's a typo.

You need to install ```web-ext``` instead of ```web-extension```.

Do this instead:

[code]

[2020-06-05 16:10] iisGmoney commented on #23
Thanks

[2020-06-05 16:23] iisGmoney commented on #23
Also, on the place where I'm supposed to click "Distribute My Own" there is no button
![cantselectdistributemyown](https://user-images.githubusercontent.com/59393872/83899977-ef11cc80-a71e-11ea-9446-fc5a92cc7224.png)

[2020-06-05 16:26] reesericci commented on #12
Ok will do

[2020-06-05 16:27] reesericci commented on #20
@deepjyoti30 Assume resolved, please close this issue

[2020-06-05 16:30] iisGmoney commented on #23
Actually I figured out where to go.

[2020-06-05 16:30] #23 closed

[2020-06-05 16:34] reesericci commented on #23
Sorry, it seems you skipped a step

[2020-06-05 16:36] reesericci commented on #23
Whoops not in the wiki page. @deepjyoti30 can you update with a step that says

1. Click "Submit Your First Addon"

before the first step in Signing the Built Extension

[2020-06-06 06:54] #20 closed

[2020-06-13 14:18] reesericci opened #24 "AMO Link Broken"
The link to AMO for the extension is broken. (README)

[2020-06-13 17:51] deepjyoti30 commented on #24
@reesericci Yup, I'm aware of that. The extension was removed by the Firefox team because of a bit of code.

The code was that I was updating a div with ```innerHTML``` which is not safe and I understand that.

I did think I would reupload after changing the ```innerHtml``` part to ```innerText``` but then recently I added support to add colors from the config where I had to use something similar

[2020-06-13 17:53] reesericci commented on #24
That's a bummer, I know jQuery can change the css.

Reese Armstrong
"The best at everything, ever."
reesericci@nyctech.cloud (https://link.getmailspring.com/link/39FB7C73-AB8A-4D36-85C4-6AEAEEFFD946@getmailspring.com/0?redirect=mailto%3Areesericci%40nyctech.cloud&recipient=cmVwbHkrQUVWT1BEV01WRURFT0pTVExGWlZMQ040NkRaUkJFVkJOSEhDTUNOVEpFQHJlcGx5LmdpdGh1Yi5jb20%3D)

On Jun 13 2020, at 12:51 pm, Deep

[2020-07-04 12:55] reesericci commented on #24
#25 Filed a PR to remove the link from the README

[2020-07-04 12:58] reesericci commented on #24
Merged, closed for now

[2020-07-04 12:58] #24 closed

[2020-07-04 13:20] reesericci commented on #12
I feel like if I say "green" it should pick from a preset green. Or if I say red, pick a preset red. Otherwise, use the hex

[2020-07-04 13:22] deepjyoti30 commented on #12
@reesericci You mean you want to keep green as a custom variable that should be referenced when you use it??

Why not just use the hex instead??

[2020-07-04 13:24] reesericci commented on #12
I want to be able to pick from preset colors. As well as have the option to use a hex.

[2020-07-04 13:28] deepjyoti30 commented on #12
@reesericci Lemme think what a good way would be to implement that. For now I'm trying to add support for shortcuts from the search bar as requested in #8

[2020-07-15 06:46] deepjyoti30 commented on #8
@reesericci @oberprah Hey guys, I have kind of added the feature. It still needs some fixes but I would be glad if you guys could try it out and give your inputs on how it looks etc.

[2020-07-18 06:35] oberprah commented on #8
Currently, it seems a little buggy, but it is a very nice feature. Thanks!

[2020-07-18 15:07] deepjyoti30 commented on #8
@oberprah Yeah I know it is a bit buggy at the moment. Glad that you like it!

[2020-08-09 19:37] P1nkBug opened #27 "Is there any way to customize the message?"
Title says it all, have been using this for a few hours, pretty cool! Would be nice if we could customize the message as well :)

[2020-08-10 05:01] deepjyoti30 commented on #27
@P1nkBug How do you want to customize it?

Currently the message changes based on the time of the day. Would you like to change that to a static message?

I think adding a dynamic message array that would be cycled through based on the time of the day would be a bit costly.

[2020-08-10 09:42] P1nkBug commented on #27
Hey @deepjyoti30 ! Thanks for the reply!
I was thinking more like a static message!

[2020-08-10 10:07] deepjyoti30 commented on #27
@P1nkBug Sure, lemme work on that, I would have to make some changes but I have always considered allowing the flexibility to change the message.

[2020-08-10 10:30] deepjyoti30 commented on #27
Hey @P1nkBug I have added a commit. Check 0e83664

It adds the ability to set a static custom message through the config. It is not added in the config by default but when added, it will override the default dynamic message.

I have also updated the settings table in README if you'd want to take a look at it.

Consider trying out the commit and you can report back here in case of bugs or something

[2020-08-10 14:29] P1nkBug commented on #27
@deepjyoti30 So I updated the main.js file and then changed the config like this

`"searchEngine":"Google",
  "user": "Pinkbug",
  "disableMessage": true,
  "message": "My message here"
  "disableDate": false,
  "disableSearchBar": false,`

But it doesn't changes the message on the startpage which is the same as before. Don't know if I missed something or not

[2020-08-10 14:30] P1nkBug commented on #27
@deepjyoti30 I also tried  `"disableMessage": false,`

[2020-08-10 15:11] deepjyoti30 commented on #27
@P1nkBug Yeah I think the issue is you'll have to rebuild the extension and then install it.

If you want to try it right away, change the `debug` variable in `main.js` to `true`

It'll work then. When the debug is false, the config is read from browsersStorage.

Another fix would be to add the new `message` field by opening the stored config file using `--setting` and the changing the internal co

[2020-08-11 00:30] P1nkBug commented on #27
@deepjyoti30 sorry for the late response. I tried changing the debug to true but when I open a new tab it just gets stuck on "fetching...". Also tried removing and rebuilding the extension and switching DisplayMessage in Json between true and false.

[2020-08-11 00:58] P1nkBug commented on #27
@deepjyoti30 So basically I'm an idiot and I screwed up a semicolon in main.js :P I had actually found a workaround even if "message" in Json didn't work by going in main.js and changed the if/else block in the handleMessage function to basically always return the same thing which was my custom message. Only reason I kept digging was because your code was obviously bug free and I couldn't understa

[2020-08-11 04:18] deepjyoti30 commented on #27
@P1nkBug Glad you got it to work. Feel free to close the issue if your issue is been solved.

I am sure people would be able to use the `message` field from the next release.

[2020-08-11 13:23] #27 closed

[2020-08-27 16:29] reesericci commented on #19
@deepjyoti30 can you put my solution into the wiki?

[2020-08-27 16:30] reesericci commented on #19
and double check it :)

[2020-08-28 06:58] deepjyoti30 commented on #19
@reesericci Added that.

[2020-08-28 07:02] deepjyoti30 commented on #12
@reesericci I think it would be too much of an overhaul to add support to define color variables that can be later referrenced.

Currently, the supported colors are hex and CSS predefined colors.

[2020-08-28 07:20] NicTanghe commented on #19
(i know it's irrelevant to this feature request but does anyone know if this website works with vimium? My current newtab extension does not)

[2020-08-28 07:22] NicTanghe commented on #12
Hex is perfectly fine.

[2020-08-28 07:58] deepjyoti30 commented on #19
@NicTanghe I'm afraid you're gonna have to test it out yourself. I'm not an avid firefox user or I could've tried it out.

Also as of now, I'm adding some neat features like suggestions as you type on the search bar.

[2020-08-28 08:11] deepjyoti30 commented on #8
@oberprah The bug is now fixed. You can try it out and report back here if you want. If everything is fine I will probably be doing a release soon.

[2020-08-28 10:49] NicTanghe commented on #19
Have you added the eazy theming yet ?
if u did i wil test this out and report back to you.

[2020-08-28 11:43] deepjyoti30 commented on #19
@NicTanghe In terms of theming, the colors in the squares can be changed as of now. Other than that if you have any extra theming related suggestions, you can always open a feature request.

[2020-08-28 11:48] reesericci commented on #12
Ok then, closing now

[2020-08-28 11:48] #12 closed

[2020-08-28 11:50] reesericci commented on #19
Ok closing

[2020-08-28 11:51] reesericci commented on #19
Or not

[2020-08-28 11:51] reesericci commented on #19
@NicTanghe opened this one

[2020-08-28 11:52] deepjyoti30 commented on #19
Yeah. I'll close this once I make the next release or @NicTanghe  can close as he wishes

[2020-08-28 22:43] NicTanghe commented on #19
On next release I'll test if the fix works if it doesn't work I'll let you
know.

On Fri, 28 Aug 2020, 13:52 Deepjyoti Barman, <notifications@github.com>
wrote:

[2020-08-30 14:32] reesericci commented on #19
I use the fix on my firefox

[2020-08-30 14:36] reesericci commented on #19
@deepjyoti30 can you make the wiki community-editable? The fix is for opening on new windows.

[2020-08-30 14:40] reesericci commented on #19
I also found an easier way:

1. Open a **new** firefox window, and go to about:preferences
2. Open a new tab, and make sure that minimal-startpage is open and is the only other tab
3. In preferences go to "Home" in the sidebar
4. Under Homepage & new windows select "Custom URLs..."
5. Click "Use Current Pages"
Done!

[2020-08-31 03:38] deepjyoti30 commented on #19
@reesericci Thanks for that. I will update the Wiki with this way also.

[2020-09-01 13:05] oberprah commented on #8
@deepjyoti30 perfect, I really like it, thanks!

[2020-09-02 12:12] reesericci commented on #8
@deepjyoti30 How does the feature work?

[2020-09-02 13:37] deepjyoti30 commented on #8
@reesericci As you start typing on the search bar it will start showing you suggestions, that can be clicked on. You can just try out the latest commits.

[2020-09-02 13:40] reesericci commented on #8
Ooh nice, gonna build soon

[2020-09-03 03:35] deepjyoti30 commented on #8
@reesericci It already does that. When you click on any suggestion, it actually open up that URL.

In terms of making it an option, I think I can surely do that.

[2020-09-03 11:46] reesericci commented on #8
No it doesn't here's a gif:

![startpage](https://user-images.githubusercontent.com/19589006/92110905-107f6480-edb1-11ea-8a81-70050bc50b4a.gif)

[2020-09-03 11:49] reesericci commented on #22
@iisGmoney close?
@deepjyoti30 wontfix label

[2020-09-03 11:49] reesericci commented on #19
@NicTanghe close

[2020-09-05 03:54] deepjyoti30 commented on #8
@reesericci Okay I got it. You meant when there is a mouse click you want it to go to that site. Currently, if you click enter on the selected suggestion it'll go to that site but I'll consider taking a look to see why it's not doing the same for mouse clicks.

[2020-09-09 21:19] #22 closed

[2020-09-10 16:54] reesericci commented on #22
@deepjyoti30 just filed a PR making some improvements to settings #29

[2020-09-10 17:00] reesericci commented on #18
@deepjyoti30 dd this get added to manually override the time zone?

[2020-09-12 05:53] deepjyoti30 commented on #18
@reesericci  Did you check ffe3e6da5c0e78ea7857126d1c9f1ca5ca505d3a

The time zone can be changed from the config.

[2020-09-12 16:21] rusty-electron opened #30 "editing config.json when searchbar is hidden"
I ran into this funny situation(bug?) where I disabled the searchbar in the configs and now I can't access the `--setting`. I tried searching manually for extension data in brave browser's user folder but couldn't find any `config.json` file there.

I guess I can manually reinstall the extension and then add my custom config but is there any other way? If not I think it would be a good feature.

[2020-09-14 03:43] deepjyoti30 commented on #30
@rusty-electron Yeah I am aware of that. That was known back when I was implementing the key. According to #29  , we are thinking of adding a settings button on the down left which will again be optional. Perhaps I can also add something like a keybinding to open up the settings.

But, I was surely, aware of this issue. Initially there was no option to disable the search bar so this wasn't thought

[2020-09-14 08:30] rusty-electron commented on #30
The idea of adding a keybinding for the settings page seems nice. I will lookout for the fix.

Also, is it possible to access the `config.json` file within the browser (or filesystem) in order to modify it?

[2020-09-14 12:41] deepjyoti30 commented on #30
@rusty-electron  Sure, you can access the config from the browser. Considering you know the basics of JS, you can use the following.

So, the config is a JSON object and it is stored in the Browsers storage.

Open a new tab and assuming you have `startpage` installed, open the developer tools using `Ctrl+Shift+I`.

You'll get the console. Type the following command to get the config stored in the

[2020-09-14 12:49] deepjyoti30 commented on #30
@rusty-electron Consider taking a look at c536886eb9372a5078018ec75069251138a2ec11

If you want you can try it out. It adds the `ctrl+,` (ctrl plus comma) key to open settings.

@reesericci  Seems like we can drop the settings icon since this keybinding will be a nice addition, what do you say?

[2020-09-14 13:36] rusty-electron commented on #30
@deepjyoti30 Both methods work perfectly. Thanks! 😁👌

I have just one more request, please add some bottom margin to the squares as they stick together in smaller windows sizes.

[2020-09-15 03:44] deepjyoti30 commented on #30
@rusty-electron Can you gimme some screenshots of this bottom-margin issue??

[2020-09-15 08:32] rusty-electron commented on #30
@deepjyoti30 Here you go

![image](https://user-images.githubusercontent.com/22986666/93185869-91e4d880-f75b-11ea-9fd6-dcf32c851236.png)

[2020-09-15 14:03] deepjyoti30 commented on #30
@rusty-electron Got it. Will look into it. Thanks!

You rice BTW?

[2020-09-15 14:19] rusty-electron commented on #30
Yah, just got into ricing a month back. I found your project via `r/unixporn`.

[2020-09-15 15:18] deepjyoti30 commented on #30
@rusty-electron Cool, welcome to ricing :smile:

The margin issue should be fixed in c536886

I'll be making a release soon. Been a lot of changes since the last release.

[2020-09-15 20:32] rusty-electron commented on #30
thanks, the recent commit fixed it 😁.

[2020-09-15 20:32] #30 closed

[2020-09-17 08:03] deepjyoti30 commented on #18
Added in the last release

[2020-09-17 08:03] #18 closed

[2020-09-17 08:03] deepjyoti30 commented on #19
Added in the Wiki

[2020-09-17 08:03] #19 closed

[2020-09-17 08:03] deepjyoti30 commented on #8
Added in the last release

[2020-09-17 08:03] #8 closed

[2020-09-19 00:54] reesericci commented on #13
@deepjyoti30 did you ever look into/add this?

[2020-09-19 01:29] reesericci opened #31 "Wiki is not community-editable"
I can't submit changes to the the wiki.

https://docs.github.com/en/github/building-a-strong-community/changing-access-permissions-for-wikis

[2020-09-19 07:23] deepjyoti30 commented on #31
@reesericci I can enable access, however are you aware if users will get direct write access? Or will it be like PR's? Like I would have to verify before allowing changes.

[2020-09-19 07:24] deepjyoti30 commented on #13
@reesericci Yes I did look into it and it was not possible to add something like that. Google Translate requires a google cloud account with payment setup and other options like yandex aren't free either. I think I should rather accept some help from contributors willing to translate to a certain langauage.

[2020-09-21 18:30] reesericci commented on #31
I'm not sure, you will have to look into that. maybe change it to be all MD documents? that way it will all be PR-able

[2020-09-26 19:01] reesericci opened #32 "Make section titles clickable"
It would be cool If I could click the titles of the sections to go to a website

[2020-10-05 07:14] deepjyoti30 commented on #31
@reesericci I have made it community editable. Try making some small change so that I can know if it still needs my permission to publish the changes.

[2020-10-08 15:56] reesericci commented on #31
It does not need permission to change but I can see all the revisions.

[2020-11-01 12:27] reesericci commented on #13
Yeah, that makes sense I guess. Juat have ppl install the google translate extension, that works

[2020-11-26 16:13] deepjyoti30 commented on #32
@reesericci You mean clicking on the card title? I just feel like it would be a bit redundant to do that.

[2020-11-26 16:14] deepjyoti30 commented on #31
@reesericci Feel free to close this since the WiKi is now community editable.

[2020-11-26 16:15] #31 closed

[2020-11-29 21:12] reesericci commented on #32
Let's say I have a main page, and I can have the card title go to that main page.

[2020-11-29 22:20] mkrasnitski opened #33 "Flicker on new tab open in Chrome"
I have the message and weather disabled. However when I open a new tab I get consistent flickering of the default message every time. Here's an example of it: https://streamable.com/cvv731

Thanks

[2020-11-30 07:37] deepjyoti30 commented on #33
@mkrasnitski You are using i3?? And what is the compositor you're using?

I have actually personally faced this issue and I think it is because one of `i3` or `compton`. That's because I faced this flickering on other sites as well. It happens sometimes, not all the time. One example is slides.google.com, it was just unusable at one point for me.

Also this happened to me on Chrome.

All, in all,

[2020-11-30 07:38] deepjyoti30 commented on #32
@reesericci All right, lemme see if it will be possible to add that functionality without breaking anything.

[2020-11-30 07:58] deepjyoti30 commented on #32
@reesericci  Should be added in dc818bd2b588987028

Do give it a try. I will udpate the WiKi soon. In order to make the titles clicable, you need to add a `url` attribute to the `square` object in the config.

[2020-11-30 15:05] reesericci commented on #33
I use picom and no issues. Maybe it's i3? I use awesomeWM.

[2020-11-30 15:11] deepjyoti30 commented on #33
@reesericci It is possible. However I have just faced it once or twice randomly and it is never consistent.

[2021-01-16 16:22] reesericci opened #34 "Add manifest.json to release zip"
Add a manifest.json for firefox in the release zip for easy uploading to addons.mozilla.org to remove the step of building.

[2021-01-16 16:23] reesericci commented on #34
<img width="744" alt="image" src="https://user-images.githubusercontent.com/19589006/104817112-ddc88c80-57e4-11eb-8027-8ed094923943.png">

[2021-01-16 16:24] reesericci commented on #34
I think you will have to do the web-ext building per release to generate this manifest.json

[2021-01-18 06:07] deepjyoti30 commented on #34
@reesericci Just checked. The issue was that in the latest release, I zipped the directory of startpage and not just the contents. I'll update the release files.

[2021-01-18 06:10] deepjyoti30 commented on #34
@reesericci Updated the release!

[2021-01-18 14:14] reesericci commented on #34
one sec lemme try it

[2021-01-18 14:20] reesericci commented on #34
I just downloaded the september release and getting the same error. Try running `web-ext build` on the zip and uploading the zip that it creates into the release.

[2021-01-18 14:21] reesericci commented on #34
@deepjyoti30

[2021-01-19 04:55] deepjyoti30 commented on #34
@reesericci I see, the issue was at my end. I updated the zip. It should work now!

[2021-01-19 14:01] reesericci commented on #34
It worked! Updated the wiki

[2021-01-19 14:01] #34 closed

[2021-02-18 14:03] reesericci commented on #32
great!

[2021-02-18 14:03] #32 closed

[2021-02-18 14:05] reesericci commented on #13
Should we close? @deepjyoti30

[2021-02-18 14:05] reesericci commented on #33
can you try FF @mkrasnitski

[2021-02-18 14:06] #13 closed

[2021-03-02 13:34] reesericci commented on #33
@deepjyoti30 it seems the user is not replying and this issue should be closed due to being stale.

[2021-03-03 04:33] #33 closed

[2021-03-09 19:14] reesericci opened #37 "Font"
Option to change font to one that is locally on the system would be awesome!

[2021-03-10 12:42] reesericci commented on #37
@deepjyoti30

[2021-03-13 15:52] deepjyoti30 commented on #37
@reesericci I can consider a feature like that. However, if I do add something like that, I will make it accept all kinds of fonts. Be it local or from the web (for eg: google fonts).

I will have to check how hard it will be to add that feature but it seems doable.

[2021-03-14 14:00] reesericci commented on #37
It would most likely be easier to support local fonts at first and then support google fonts?

[2021-07-07 14:38] reesericci opened #39 "Build xpi at time of release"
that way the end user can skip the building step and only have to upload the finished xpi to mozilla.

[2021-07-07 14:40] #39 closed

[2021-07-07 14:40] reesericci commented on #39
whoops i forgot that you upload a zip to amo not an xpi

[2021-07-08 10:34] deepjyoti30 commented on #39
@reesericci I think though that a zip can be built using GitHub Actions, sounds like a good option.

[2021-07-08 10:41] deepjyoti30 commented on #39
@reesericci I think the zip I was providing with each release is not important anymore since it can be directly installed by cloning the repo.

I'll update the installation instructions and move to `download latest release source zip` rather than attaching a build during release.

[2021-07-08 12:19] reesericci commented on #39
just make sure it has the manifest.json so we don't have issue #34 come up again.

[2021-07-08 12:35] deepjyoti30 commented on #39
@reesericci As in the latest release, I have not added any custom zip. It's just the one provided by GitHub which has the source code as of the release date. That one surely contains the `mainfest.json` file because the source contains it, so should be cool!

[2021-11-27 15:26] mohkale opened #40 "Customize the title"
I'm not a big fan of lower-case titles. It'd be nice if you could customize the start-page title from the config file.

[2021-11-29 09:57] deepjyoti30 commented on #40
@mohkale You can directly change the titles of the squares from the config itself.

Just open settings and change it according to your needs. Does that not suit your needs?

[2021-11-29 12:40] mohkale commented on #40
@deepjyoti30

Sorry, not the squares, the HTML page. So the contents of the ~<title></title>~ element.

[2021-12-13 13:23] rwjack opened #41 "Hosting on nginx?"
Hi, is hosting this on nginx possible?

![image](https://user-images.githubusercontent.com/59068073/145820345-5d3ba86d-22ae-4aef-9f76-19a899b95c8d.png)

This is all I get.

[2021-12-14 17:33] deepjyoti30 commented on #41
@cysea It should be possible. However there might be some changes required. The main purpose of the app is to work as a browser extension so it might not work with nginx right away.

Could you share the logs from developer tools? Looking at the image above there should be some error. Looks like the JS is not loaded properly.

[2022-02-27 11:16] deepjyoti30 commented on #40
@mohkale I know it's late but I finally added this feature. If you're still interested you can take a look at the latest commits of the `dev` branch. I will make a release soon!

[2022-02-27 13:34] mohkale commented on #40
Fantastic, thanks :-).

[2022-02-27 13:34] #40 closed

[2022-02-27 13:46] deepjyoti30 commented on #40
@mohkale The feature is now available in the latest release!

[2022-03-03 11:49] JoshFink opened #42 "Opening a link in a new tab"
Hi, is it possible to open a link, when clicked, in a new tab.

Thanks

[2022-03-03 15:25] deepjyoti30 commented on #42
It's not possible till now. I can consider adding that feature though, considering at this point we support quicklinks that would be a nice feature!

[2022-03-03 15:34] JoshFink commented on #42
Thanks

[2022-03-03 15:35] JoshFink opened #43 "Is there a way to backup and restore the configuration"
After spending some time to put in everything I'm wondering if I'm missing a away to back up the configuration so that in case something crashes I can restore it.

If someone could point me in the right direction I would appreciate it.

Thanks

[2022-03-03 18:19] deepjyoti30 commented on #43
Currently there's no such way provided by the extension itself.

However, considering the extension can be installed from an unpacked directory, the default config is located in that directory.

So you can make changes to that config directly and try reloading the page, I think startpage would pick up the changes.

That just means you can basically backup the config from the directory where you un

[2022-03-03 19:16] JoshFink commented on #43
Thanks.. I'll try that. If I had to reconfigure this after setting it up it would definitely promote me to find something else. So far I'm really liking it.

[2022-03-29 03:51] rahaaatul opened #46 "Link Coloring"
Is it possible to color the links inside squares, individually? If so, how to do them?

I tried duplicating color and inserting in one of the links but it doesn't work.

[2022-04-03 11:45] deepjyoti30 commented on #46
@rahaaatul It is not supported on a per link basis.

See the theme is defined in the way that the color will be set for the title of the square and the links will show the same color when hovered on.

[2022-04-03 11:47] deepjyoti30 commented on #46
Will add this as a feature in the next release. If color would be defined for a link, it would be prioritized over the square color.

[2022-04-03 13:05] rahaaatul commented on #46
Awesome! 😊

I agree. 👍

[2022-04-03 13:23] rahaaatul opened #47 "Feature: Background"
Add an option to set -
- Images
- Gifs
- Videos
in the background.

[2022-04-03 13:30] rahaaatul opened #48 "Feature: Blur The Squares"
Add an option to blur (glass) the squares, complementing #47.

As seen in Dawn -
<img src="https://i.imgur.com/IrDF4LX.png">

[2022-04-09 12:58] JoshFink opened #49 "A way to customize the style?"
Hi, I'm probably just missing this. I wanted to see if there was a way to customize the style for the start page. i.e. Left Justify the text, change the font, etc.

Thanks for the help

[2022-04-12 08:33] deepjyoti30 commented on #49
Those things can be modified by modifying the `css` file but are not exposed through the config.

[2022-04-16 05:53] deepjyoti30 commented on #47
@rahaaatul Thanks for the suggestion but the design language of the startpage is aimed at being minimal. Adding a wallpaper as background might take that away from it and make it similar to many other startpages available.

I will skip this feature for now but if there's enough requests for this, I can reconsider this. Thanks for the suggestion though.

[2022-04-16 05:55] deepjyoti30 commented on #48
@rahaaatul Thanks for this as well. Since #47 is a no go for now, will put the same stance on this one.

[2022-05-15 08:09] j-koziel opened #50 "Time is not correct. (GMT Timezone)"
The time here in the UK went an hour forward however this has not been adjusted in the start page. I've tried re-building multiple times but to no avail. Is there a way to fix this.

This is the time in the start page.
![image](https://user-images.githubusercontent.com/68497216/168463390-0db90cbb-7ff7-4456-a3b4-301dca1c8599.png)

This is the correct time.
![image](https://user-images.githubusercon

[2022-05-15 08:10] j-koziel commented on #50
`"title": "home",
  "searchEngine": "Google",
  "user": "Jonathan",
  "disableMessage": false,
  "disableDate": false,
  "disableSearchBar": false,
  "disable24Hour": false,
  "disableWeather": false,
  "timeZone": "GMT",
  "weatherConf": {
    "location": "London United Kingdom",
    "unit": "cel"
  },
  "settingsIcon": false,
  "style": {
    "backgroundColor": "#282828",
    "messageColor": "#f

[2022-06-05 15:01] deepjyoti30 commented on #50
@j-koziel I just tried reproducing the issue locally with fail.

Here's what I did:

1. Set the `timeZone` field in the config as `GMT`: Time showed up as `15:00`.
2. I then google `GMT time right now` and got the result as `15:00`.

What am I missing here?

[2022-06-05 15:06] j-koziel commented on #50
My config is set to GMT but I'm not getting the right time. I've tried rebuilding multiple times but it still doesn't work :(

[2022-06-05 15:12] j-koziel commented on #50
Ok I've spotted the error. I'm using the wrong time zone :D. Sorry for the bother.

[2022-06-05 15:12] #50 closed

[2022-07-01 03:54] passerbyo opened #51 "hfeather addition to support android"

[2022-07-01 14:19] deepjyoti30 commented on #51
@onebyonetwo Could you elaborate a bit on the issue? I am assuming it's a feature request. I don't understand what `hfeather` is, is it some kind of frmework?

[2022-07-01 16:42] deepjyoti30 commented on #46
Added in the latest release

[2022-07-01 16:42] #46 closed

[2022-07-01 16:43] deepjyoti30 commented on #42
Added in the latest release, refer to docs to understand how to use it: https://github.com/deepjyoti30/startpage/wiki/Configuration

[2022-07-01 16:43] #42 closed

[2022-07-24 18:30] rahaaatul opened #52 "Support for Kiwi Browser"
Can you add support for Kiwi Browser? It's an Android browser supports chromium extensions. I installed it in the browser but it's act and looks weird, so for now I'm using just one square.

![Screenshot_20220724_235148](https://user-images.githubusercontent.com/86149861/180661158-89738f49-7ea0-4d4f-bb71-d9761cc7510a.jpg)

Btw, how do we change the square to rectangle? I'm trying to put all of the

[2022-08-04 15:38] deepjyoti30 commented on #52
The thing is UI is not responsive for mobile devices. It's not a browser specific issue, instead the page is not responding to the smaller screen size.

I will try to fix this as much as possible but there might be issues supporting multiple squares and might break the overall design language of `startpage` in which case I cannot guarantee that you would love using it 😅 .

[2022-08-04 16:14] rahaaatul commented on #52
How about another repo just for Mobile Devices? I understand if you don't agree, it's time consuming and waste of time to develop just for one user 😅.

If it might break something, you should ignore this issue then.

[2022-08-23 10:01] #41 closed

[2022-10-01 04:08] anchovyyy opened #53 "When the window is small the message is cut off."
Screenshot:

![image](https://user-images.githubusercontent.com/98144599/193386767-083a2e2b-5ae8-4bd6-aa75-5b2c6374657a.png)

Normally:

![image](https://user-images.githubusercontent.com/98144599/193386781-9af1673c-d152-4e3d-9f76-f72c93099ed8.png)

Also I'm pretty sure that "It's too late, take some sleep!" is grammatically incorrect, It should be: "It's really late, get some sleep!"

[2022-10-10 16:35] deepjyoti30 commented on #53
@anchovyyy Thanks for pointing out the issue with the message being cut off. Will check if it will be possible to add a fix. Can you tell me where exactly you used the startpage with such a small window? Was it a VM?

[2022-10-10 19:55] anchovyyy commented on #53
I use bspwm with pretty large gaps (20 px).

![image](https://user-images.githubusercontent.com/98144599/194942691-0483cd82-801d-42b3-a37f-d9c9d21b7cce.png)

[2022-10-10 19:59] anchovyyy commented on #53
I use bpswm with pretty large gaps (20px)

![image](https://user-images.githubusercontent.com/98144599/194943115-296c7d70-d35c-48ad-8f17-8c8c57d4bdf3.png)